[flake8]
# Configuración de flake8 para Lavandería Express QuickClean
# ROJAS BURBANO - Ficha 3147246

max-line-length = 88
extend-ignore = E203, W503, E501
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    htmlcov,
    .pytest_cache,
    build,
    dist

per-file-ignores =
    __init__.py:F401

max-complexity = 10
